
section:first-of-type {
  background: black url(../images/sol-desierto.jpg) center center no-repeat;
  background-size: cover;
}

section:nth-of-type(4) > h1:not(section:last-of-type h1):not(section:first-of-type h1) {
  background-image: url(../images/scheherazade-schariar.jpg);
}

section:nth-of-type(5) > h1:not(section:last-of-type h1):not(section:first-of-type h1) {
  background-image: url(../images/scheherazade-sultan.jpg);
}

section:nth-of-type(6) > h1:not(section:last-of-type h1):not(section:first-of-type h1) {
  background-image: url(../images/sindbad.jpg);
}

section:nth-of-type(7) > h1:not(section:last-of-type h1):not(section:first-of-type h1) {
  background-image: url(../images/alfombra-voladora.jpg);
}

section:nth-of-type(8) > h1:not(section:last-of-type h1):not(section:first-of-type h1) {
  background-image: url(../images/cassim.jpg);
}

section:nth-of-type(9) > h1:not(section:last-of-type h1):not(section:first-of-type h1) {
  background-image: url(../images/scheherazade-y-shahryar.jpg);
}

section:nth-of-type(10) > h1:not(section:last-of-type h1):not(section:first-of-type h1) {
  background-image: url(../images/tigres.webp);
  background-position: 15% center;
}

section:nth-of-type(11) > h1:not(section:last-of-type h1):not(section:first-of-type h1) {
  background-image: url(../images/bagdad.jpg);
  background-position: center top;
}

section:nth-of-type(12) > h1:not(section:last-of-type h1):not(section:first-of-type h1) {
  background-image: url(../images/ciudad-bronce.jpg);
  background-position: center center;
  background-size: 120% auto;
}

section:nth-of-type(13) > h1:not(section:last-of-type h1):not(section:first-of-type h1) {
  background-image: url(../images/pipa-agua.jpg);
  background-position: center center;
}

section:last-of-type {
  min-height: 100vh;
  padding-top: var(--margin);
  padding-bottom: var(--margin);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:first-of-type {
  height: calc(100vh - 2px);
}

section:not(section:last-of-type):not(section:first-of-type):not(section:nth-of-type(2)) h1 + .saltopagina + p:first-letter,
section:not(section:last-of-type):not(section:first-of-type):not(section:nth-of-type(2)):not(section:nth-of-type(7)):not(section:nth-of-type(8)) h2 + p:first-letter,
section:last-of-type {
  --pattern-size: 250px;
  background-color:var(--color-emerald);
  background-image:
    linear-gradient(67.5deg, var(--color-emerald) 10%, transparent 10%),
    linear-gradient(157.5deg, var(--color-emerald) 10%, transparent 10%),
    linear-gradient(67.5deg, transparent 90%, var(--color-emerald) 90%),
    linear-gradient(157.5deg, transparent 90%, var(--color-emerald) 90%),
      
    linear-gradient(22.5deg, var(--color-emerald) 10%, transparent 10%),
    linear-gradient(112.5deg, var(--color-emerald) 10%, transparent 10%),
    linear-gradient(22.5deg, transparent 90%, var(--color-emerald) 90%),
    linear-gradient(112.5deg, transparent 90%, var(--color-emerald) 90%),
    
    linear-gradient(22.5deg, transparent 33%, #d5d8dc 33%, #d5d8dc 36%, transparent 36%, transparent 64%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
    linear-gradient(-22.5deg, transparent 33%, #d5d8dc 33%, #d5d8dc 36%, transparent 36%, transparent 64%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
    linear-gradient(112.5deg, transparent 33%, #d5d8dc 33%, #d5d8dc 36%, transparent 36%, transparent 64%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
    linear-gradient(-112.5deg, transparent 33%, #d5d8dc 33%, #d5d8dc 36%, transparent 36%, transparent 64%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%);
  background-size: var(--pattern-size) var(--pattern-size);
  background-position: 
    calc(var(--pattern-size) / 5 * -2) calc(var(--pattern-size) / 5 * 3), calc(var(--pattern-size) / 5 * -3) calc(var(--pattern-size) / 5 * 3), calc(var(--pattern-size) / 5 * -3) calc(var(--pattern-size) / 5 * 2), calc(var(--pattern-size) / 5 * -2) calc(var(--pattern-size) / 5 * 2),
    calc(var(--pattern-size) / 5 * -3) calc(var(--pattern-size) / 5 * 2), calc(var(--pattern-size) / 5 * -2) calc(var(--pattern-size) / 5 * 2), calc(var(--pattern-size) / 5 * -2) calc(var(--pattern-size) / 5 * 3), calc(var(--pattern-size) / 5 * -3) calc(var(--pattern-size) / 5 * 3),
    0 0, 0 0, 0 0, 0 0;
}

section:not(section:last-of-type):not(section:first-of-type):not(section:nth-of-type(2)) h1 + .saltopagina + p:first-letter,
section:not(section:last-of-type):not(section:first-of-type):not(section:nth-of-type(2)):not(section:nth-of-type(7)):not(section:nth-of-type(8)) h2 + p:first-letter {
  --pattern-size: 25px;
  --color-emerald: #9a8a3a;
  font-family: 'Khodijah';
  font-size: 2.3em;
  display: block;
  float: left;
  margin: 3px 10px 0px 0px;
  padding: 10px 5px;
  border: 1px solid #000;
  color: #000;
}

@media print {
  section:not(section:last-of-type):not(section:first-of-type):not(section:nth-of-type(2)) h1 + .saltopagina + p:first-letter,
  section:not(section:last-of-type):not(section:first-of-type):not(section:nth-of-type(2)):not(section:nth-of-type(7)):not(section:nth-of-type(8)) h2 + p:first-letter,
  section:last-of-type {
    padding: 2px 10px 0;
  }
}

section:last-of-type > div {
  margin: 0px 30px; 
  border: 1px solid #fff; 
  background-color: #000000b0; 
  padding: 30px;
}

section:last-of-type > div > h1 {
  font-size: 4em;
  margin: 0 0 20px 0;
}

section:last-of-type > div > h2 {
  margin: 0 0 20px 0;
  text-align: center;
}

section:last-of-type > div > p:first-of-type {
  font-weight: bold;
  text-align: center;
}

section:last-of-type > div > ol {
  list-style-type: arabic-indic;
  margin-bottom: 0px;
}

section:last-of-type > div > ol > li:not(:last-child) {
  padding-bottom: 8px;
}

section:last-of-type > div a {
  color: var(--color-old-gold);
}
section:last-of-type > img {
  margin: 20px 0 0 0;
}

.saltopagina {
  display: none;
}

li.saltopagina {
  display: list-item;
}

.separator {
  display: block;
  width: 80%;
  margin: 30px auto 0px;
  padding-bottom: 65px;
  position: relative;
  text-align: center;
}

.separator:after {
  text-align: center;
  content: "scheherazade";
  position: absolute;
  display: block;
  font-family: 'Khodijah';
  color: var(--color-old-gold);
  transform: scaleX(-1) scaleY(3);
  overflow: hidden;
  font-size: 0.5em;
  text-shadow: -1px -1px 0 black;
  background-color: var(--color-grey);
  margin: 0px auto 0px;
  width: 66px;
  left: calc(50% - 33px);
  top: 5px;
  padding: 0 1px;
}

.separator:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  box-shadow: 2px -2px 0 black;
  background-color: var(--color-old-gold);
  top: 9px;
  left: 0px;
}

body:before {
  position: fixed;
  content: "";
  display: none;
  top: 0px;
  left: 0px;
  width: calc((var(--margin) / 3 ) * 2);
  height: 100vh;
  background: transparent url(../bg.png) center center repeat-y;
  background-size: contain;
}

body:after {
  position: fixed;
  content: "";
  display: none;
  top: 0px;
  right: 0px;
  width: calc((var(--margin) / 3 ) * 2);
  height: 100vh;
  background: transparent url(../bg.png) center center repeat-y;
  background-size: contain;
  transform: scalex(-1);
}

body {
  background: linear-gradient(45deg, transparent 10%, var(--color-grey) 10% ,var(--color-grey) 20%, transparent 20%, transparent 80%, var(--color-grey)  80%, var(--color-grey) 90%, transparent 90%), linear-gradient(135deg,  transparent 10%, var(--color-grey) 10% ,var(--color-grey) 20%, transparent 20%, transparent 80%, var(--color-grey)  80%, var(--color-grey) 90%,  transparent 90%), radial-gradient(circle at top,var(--color-grey) 20% , transparent 21%), radial-gradient(circle at bottom,var(--color-grey) 20% , transparent 21%), radial-gradient(circle at right,var(--color-grey) 20% , transparent 21%), radial-gradient(circle at left,var(--color-grey) 20% , transparent 21%);
  background-size: 3em 3em;

  background-color: #ffffff;
  opacity: 1;
}

body > section {
  background: none;
} 


@media (min-width: 670px) {
  body:before, body:after { display: block; }
}


@media print {

  body {
    background-image: none;
  }
  


  .nopdf {
    display: none;
  }

  .saltopagina {
    display: block;
    page-break-before: always;
    height: 1px;
    background-color: transparent;
    opacity: 0;
  }

  li.saltopagina {
    margin-top: var(--margin);
    opacity: 1;
    height: auto;
  }

  section .saltopagina:not(li) + * {
    margin-top: var(--margin);
  }

  @page {
    size: A4;
    margin: 0;
  }

  h1 {
    margin-left: -10px !important;
    margin-right: -10px !important;
  }

  h1:not(section:last-of-type h1):not(section:first-of-type h1) {
    height: calc(100vh - 2px);
    position: relative;
    z-index: 10;
  }

  section:first-of-type,
  section:last-of-type {
    position: relative;
    z-index: 10; 
  }

  section:last-of-type,
  section:first-of-type {
    max-width: calc(100vw + 20px);   
    min-height: 1130px;
    height: 100%; 
  }

  section:last-of-type {
    min-height: 1129px;
  }

  section:not(section:last-of-type):not(section:first-of-type):not(section:nth-of-type(2)) h1 + p:first-letter,
  section:not(section:last-of-type):not(section:first-of-type):not(section:nth-of-type(2)):not(section:nth-of-type(7)):not(section:nth-of-type(8)) h2 + p:first-letter {
    font-size: 2em;
  }

  body>a:last-of-type {
    display: none;
  }
}

body>section:nth-of-type(3) div:not(body>section:nth-of-type(3) div:last-of-type) {
  padding: 0;
  min-height: 1021px;
}

.likeH1,
.likeH2,
.likeH3 {
  display: block;
  cursor: pointer;
  margin: 0 0 3px 0;
  text-decoration: none;
  font-size: .6em;
  max-height: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.likeH1 {
    font-family: 'Oswald', sans-serif;
}

.likeH2 {
  padding: 0 0 0 15px;
}

.likeH3 {
  padding: 0 0 0 30px;
}

body>a.show:last-of-type {
  opacity: 1;
}

body>a:last-of-type {
  display: block;
  opacity: 0;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 6px 12px;
  background-color: var(--color-sand);
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  transition: opacity 0.3s;
  z-index: 10;
}

table tbody tr.random>* {
  color: #fff;
  background-color: var(--color-emerald);
  text-shadow: 0px 0px 5px var(--color-emerald);
}

table[data-dice="4"] {
  cursor: url('../images/dice-d4.svg'), auto;
}

table[data-dice="6"] {
  cursor: url('../images/dice-d6.svg'), auto;
}

table[data-dice="8"] {
  cursor: url('../images/dice-d8.svg'), auto;
}

table[data-dice="10"] {
  cursor: url('../images/dice-d10.svg'), auto;
}

table[data-dice="12"] {
  cursor: url('../images/dice-d12.svg'), auto;
}

table[data-dice="20"] {
  cursor: url('../images/dice-d20.svg'), auto;
}

.map-grid {
  width: 100%;
  height: auto;
}


.leyendamapa {
  font-style: italic;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 12px;
}

@media print {
  .map-grid {
    width: auto !important;
    height: calc(100vh - 160px);
    display: block;
    margin: auto;
  }
  .leyendamapa {
    margin-bottom: 30px;
  }
  table tbody tr>* {
    padding: 3px 4px;
    font-size: 0.8rem;
  }
  table thead tr th {
    padding: 10px 7px;
  }

  table thead tr:first-child th {
    font-size: 1.3rem;
  }

  table {
    margin: 0px auto;
  }

  p + table {
    margin: 15px auto 0px;
  }

  body>a.show:last-of-type {
    display: none;
  }
}

a.download {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: var(--color-old-gold);
  transition: background 0.3s;
}

a.download:hover {
  background-color: var(--color-gold);
}

.twocol {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.twocol li {
  width: calc(50% - 5px);
}
